<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <div class="pageWrapper">

    <!-- Header Section of OBAA.IO portforlio site -->
    <header>
      <%- include('../partials/header'); %>
    </header>
  
    <!-- Main page content wrapper -->
    <main class="pageSection">

        <!-- About Section of OBAA.IO portforlio site -->
        <div class="section-about container text-center">
            <h3 class="sectionTitle"><%= title %></h3>

            <div class="">
                <img class="avatar mb-3" src="/images/OBAA.jpg" />
                <h1>AGBANA BOLU</h1>
                <p class="color-primary fst-italic">Software Developer</p>
            </div>
            
            <div class="introduction mx-auto mt-2">
                <p class="m-0">
                    I am a highly skilled software developer with over 6 years of professional experience in startup environments. Throughout my career, I have successfully designed, built, and managed a diverse range of complex projects, both independently and as part of collaborative teams. My expertise extends from developing simple monolithic applications to architecting sophisticated microservices-based systems, including multi-tenant platforms and event-driven SAAS applications.
                </p>
            </div>

            <div class="d-flex justify-content-center mt-2">
                <a href="/resume/download" class="btn btn-primary text-light mx-2">
                    Download Resume
                </a>
            </div>
        </div>

        <!-- My services Section of OBAA.IO portforlio site -->
        <div class="section-services container text-center mb-5">
            <h3 class="sectionTitle">
                <!-- My Services -->
            </h3>
        
            <div class="row gx-2 mx-auto">
                <div class="service col-12 col-lg-3 mb-5 mx-auto">
                    <span data-width="50" data-height="50" class="iconify" data-icon="ion:logo-html5"></span>
                    <h5 class="fw-bold mt-3">Web Development</h5>
                    <p>Experienced in modern web technologies and frameworks, I design and develop robust, scalable web applications with responsive layouts and optimized performance.</p>
                </div>
        
                <div class="service col-12 col-lg-3 mb-5 mx-auto">
                    <span data-width="50" data-height="50" class="iconify" data-icon="ion:phone-portrait"></span>
                    <h5 class="fw-bold mt-3">Mobile Development</h5>
                    <p>I deliver feature-rich hybrid mobile apps that run on both Android and iOS using React Native, and Flutter for intuitive and efficient user experiences.</p>
                </div>
        
                <div class="service col-12 col-lg-3 mb-5 mx-auto">
                    <span data-width="50" data-height="50" class="iconify" data-icon="bxs:rocket"></span>
                    <h5 class="fw-bold mt-3">System Design & Reliability</h5>
                    <p>Focused on creating highly available and fault-tolerant systems, I optimize complex architectures, implement scalable databases, and ensure system performance and security through meticulous design and testing methodologies.</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer Section of OBAA.IO portforlio site -->  
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>

  <%- include('../partials/scripts'); %>

</body>
</html>